* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 1em 10% 0;
  background: #ebeef1;
}
table {
  border-spacing: 0;
}
a {
  color: #1594e0;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
td {
  padding: 0;
}
main {
  padding-bottom: 2em;
}
footer {
  position: absolute;
  bottom: 0;
  height: 2em;
  width: 100%;
}
footer a:after {
  content: "|";
  margin: 0 2px 0 4px;
  color: #222;
}
footer a:last-child:after {
  content: "";
}
#container {
  min-height: 100%;
  position: relative;
}
h1 {
  font-weight: normal;
  margin-top: 0;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
}
pre {
  margin: 0;
  padding: 0 4px;
}
table {
  border: 1px solid #EEE;
}
tbody tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
tbody tr:first-child td:first-child {
  border-top-left-radius: 3px;
}
tbody tr:first-child td:last-child {
  border-top-right-radius: 3px;
}
.docs {
  background: #fafbfc;
  padding: 0 20px;
  vertical-align: top;
}
.code {
  background: #FFF;
  /*background: #EEE;*/
  padding: 0 4px;
  vertical-align: baseline;
}
tr:last-child .code {
  padding-bottom: 1em;
}
@media screen and (max-width: 1090px) {
  body {
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  td {
    display: block;
    padding: 4px;
  }
  pre {
    white-space: pre-line;
  }
}
